<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://mikepb.github.com/sage/">Sage</a>
      <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book"></i> Documentation</a>
            <ul class="dropdown-menu">
              {% include subnav-items.html %}
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="https://github.com/mikepb/sage" rel="tooltip" title="GitHub"><i class="icon-github icon-large"></i> <span class="collapse-unhide">GitHub</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
