<section id="sage-index">
  <div class="page-header">
    <h1>Index</h1>
  </div>

  <h2>Properties</h2>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>client</code></td>
        <td>The Sage client associated with this index.</td>
      </tr>
      <tr>
        <td><code>name</code></td>
        <td>The index name.</td>
      </tr>
      <tr>
        <td><code>uri</code></td>
        <td>The base URI for this index.</td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#sage-index-type"><code>#type</code></a></td>
        <td>The Sage client associated with this index.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="sage-index-type"><code>#type</code></h3>
  <p>Select a document type and return a <code>Type</code> object.</p>

</section>
