<section id="sage-client">
  <div class="page-header">
    <h1>Client</h1>
  </div>

  <h2>Properties</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>uri</code></td>
        <td>The base URI for this index.</td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>

  <h3><a href="#sage-client">#index</a></h3>
  <p>Select a search index and return an <code>Index</code> object.</p>

</section>
