<section id="sage-type">
  <div class="page-header">
    <h1>Type</h1>
  </div>

  <h2>Properties</h2>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>index</code></td>
        <td>The Sage index associated with this type.</td>
      </tr>
      <tr>
        <td><code>name</code></td>
        <td>The type name.</td>
      </tr>
      <tr>
        <td><code>uri</code></td>
        <td>The base URI for this type.</td>
      </tr>
    </tbody>
  </table>

  <h2>Methods</h2>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#sage-type-del"><code>#del</code></a></td>
        <td>Delete — Remove a document from the index.</td>
      </tr>
      <tr>
        <td><a href="#sage-type-get"><code>#get</code></a></td>
        <td>Get — Fetch a document by type and ID.</td>
      </tr>
      <tr>
        <td><a href="#sage-type-post"><code>#post</code></a></td>
        <td>Index — Add or update one or more documents for indexing, with automatic ID generation.</td>
      </tr>
      <tr>
        <td><a href="#sage-type-put"><code>#put</code></a></td>
        <td>Index — Add or update a document for indexing.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="sage-type-del"><a href="#sage-type">#del</a></h3>
  <p>Remove the document from the index via the <a href="http://www.elasticsearch.org/guide/reference/api/delete.html">Delete API</a>.</p>

  <h3 id="sage-type-get"><a href="#sage-type">#get</a></h3>
  <p>Fetch a document from the index via the <a href="http://www.elasticsearch.org/guide/reference/api/get.html">Get API</a>.</p>

  <h3 id="sage-type-post"><a href="#sage-type">#post</a></h3>
  <p>Add or update one or more document for indexing via the <a href="http://www.elasticsearch.org/guide/reference/api/index_.html">Index API</a> or the <a href="http://www.elasticsearch.org/guide/reference/api/bulk.html">Bulk API</a>.</p>

  <h3 id="sage-type-put"><a href="#sage-type">#put</a></h3>
  <p>Add or update a document for indexing via the <a href="http://www.elasticsearch.org/guide/reference/api/index_.html">Index API</a>.</p>

</section>
