body {
  padding-top: 41px;
}

@media (min-width: 980px) {

  .collapse-unhide {
    display: none;
  }

  /* http://css-tricks.com/hash-tag-links-padding/ */
  [id]:before {
    display: block;
    content: " ";
    margin-top: -41px;
    height: 41px;
    visibility: hidden;
  }

}

@media (max-width: 979px) {

  body {
    padding-top: 0;
  }

}

header, section {
  margin: 4em 0 2em;
}

footer {
  border-top: 1px solid #eeeeee;
  margin: 4em 0 2em;
  padding: 0.5em 0 0;
}
