body {
  padding-top: 41px;
}

@media (min-width: 980px) {

  .collapse-unhide {
    display: none;
  }

}

@media (max-width: 979px) {

  body {
    padding-top: 0;
  }

}

section {
  padding: 41px 0 19px;
}

#footer {
  border-top: 1px solid #eeeeee;
  margin: 41px 0 20px;
  padding: 0.5em 0 0;
}
